# --- Local App Data --
.palav_index_cache/

# --- Streamlit & Secrets ---
.streamlit/

# --- Visual Studio / IDE Files ---
palav.pyproj
palav.slnx

# --- Python Cache ---
__pycache__/
*.pyc

# --- Environment
venv/
.env